USE [Facultad]
GO
/****** Object:  Table [dbo].[Nacionalidad]    Script Date: 10/9/2025 04:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nacionalidad](
	[idNacionalidad] [int] NOT NULL,
	[nombre_Nacionalidad] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 10/9/2025 04:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[nroPersona] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[sexo] [nvarchar](50) NOT NULL,
	[idNacionalidad] [int] NOT NULL,
	[idProfesion] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesion]    Script Date: 10/9/2025 04:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesion](
	[idProfesion] [int] NOT NULL,
	[nombre_Profesion] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AgregarPersona]    Script Date: 10/9/2025 04:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarPersona]
    @nroPersona INT,
    @nombre NVARCHAR(50),
    @apellido NVARCHAR(50),
    @edad INT,
    @sexo NVARCHAR(10),
    @idNacionalidad INT,
    @idProfesion INT
AS
BEGIN
    INSERT INTO Persona (NroPersona, Nombre, Apellido, Edad, Sexo, IdNacionalidad, IdProfesion)
    VALUES (@nroPersona, @nombre, @apellido, @edad, @sexo, @idNacionalidad, @idProfesion)
END;
GO
/****** Object:  StoredProcedure [dbo].[EditarPersona]    Script Date: 10/9/2025 04:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditarPersona]
    @nroPersona INT,
    @nombre NVARCHAR(50),
    @apellido NVARCHAR(50),
    @edad INT,
    @sexo NVARCHAR(10),
    @idNacionalidad INT,
    @idProfesion INT
AS
BEGIN
    UPDATE Persona
    SET Nombre = @nombre,
        Apellido = @apellido,
        Edad = @edad,
        Sexo = @sexo,
        IdNacionalidad = @idNacionalidad,
        IdProfesion = @idProfesion
    WHERE NroPersona = @nroPersona;
END;


GO
/****** Object:  StoredProcedure [dbo].[EliminarPersona]    Script Date: 10/9/2025 04:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPersona]
    @nroPersona INT
AS
BEGIN
    DELETE FROM Persona WHERE NroPersona = @nroPersona;
END;


GO
/****** Object:  StoredProcedure [dbo].[ListarPersona]    Script Date: 10/9/2025 04:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarPersona]
AS
BEGIN
    SELECT * FROM Persona;
END;
GO
